article {
  margin: 0 0 $large-gutter-width;
  padding: 0;

  &::after {
    content: "";
    display: block;
    margin-top: $large-gutter-width;
    border-top: 1px solid #000;
    border-bottom: 1px solid $dark-border-color;
    height: 0;
  }

  h2 {
    margin-top: 0;
    margin-bottom: $medium-gutter-width / $h2-font-size * 1em;;
    line-height: 1.1;
    font-size: $h2-font-size;
  }

  h3 {
    margin-top: $medium-gutter-width / $article-h3-font-size * 1em;
    margin-bottom: $medium-gutter-width / $article-h3-font-size * 1em;
    font-size: $article-h3-font-size;
  }

  h4 {
    margin-top: $medium-gutter-width / $h4-font-size * 1em;
    margin-bottom: $medium-gutter-width / $h4-font-size * 1em;
    font-size: $h4-font-size;
  }

  hr {
    margin-top: $large-gutter-width;
    margin-bottom: $large-gutter-width;
    border-top: 1px solid #000;
    border-bottom: 1px solid $dark-border-color;
    height: 0;
  }

  p, li, dd, blockquote {
    text-align: justify;
  }

  footer {
    margin-bottom: $medium-gutter-width / $article-footer-font-size * 1em;;
    font-size: $article-footer-font-size;
  }
}
