h1 {
  margin-top: $medium-gutter-width / $h1-font-size * 1em;
  margin-bottom: $large-gutter-width / $h1-font-size * 1em;
  text-align: center;
  text-transform: uppercase;
  font-size: $h1-font-size;

  a {
    &:hover {
      background-color: transparent; // override

      span {
        background-color: $link-color * 0.7;
        color: $light-text-color; // must be set here to transition immediately
      }

      span:first-child {
        padding-left: $small-gutter-width * 1.6;
        @include transform(none);
      }

      span:last-child {
        padding-right: $small-gutter-width * 1.6;
        @include transform(none);
      }
    }

    span {
      display: inline-block;
      background-color: $link-color * 0.7 * 0.8;
      color: $text-color; // must be set here to transition immediately
      @include transition(all 0.4s ease);
    }

    span:first-child {
      padding-left: $small-gutter-width * 1.4;
      padding-right: $small-gutter-width * 0.4;
      @include transform-origin(100%, 0%);
      @include transform(translateY(-0.1em) rotate(-3deg));
    }

    span:last-child {
      padding-left: $small-gutter-width * 0.4;
      padding-right: $small-gutter-width * 1.4;
      @include transform-origin(0%, 0%);
      @include transform(translateY(-0.1em) rotate(3deg));
    }
  }
}

h3 {
  font-size: $h3-font-size;
  line-height: 1.2;
}

#content > header {
  margin-bottom: $large-gutter-width;

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    text-transform: uppercase;
  }

  .pagination {
    float: right;
    margin-left: $small-gutter-width;
    line-height: $h3-font-size * 1.2;
  }
}

#content > footer {
  margin-bottom: $large-gutter-width;
}

.pagination {
  color: $text-color;
  text-align: right;
}

#page-container > footer {
  margin-bottom: $small-gutter-width / $footer-font-size * 1em;
  text-align: right;
  font-size: $footer-font-size;
}

footer {
  color: $dark-text-color;
}
