table {
  margin-top: 1em;
  margin-bottom: 1em;
  border-collapse: separate;
  border-spacing: 0;
}

tbody tr {
  td {
    border-top: 1px solid $dark-border-color;
    border-bottom: 1px solid #000;
  }

  &:hover {
    background-color: $background-color;
  }

  &:last-child td {
    border-bottom: 0;
  }
}

th {
  border-bottom: 1px solid $dark-text-color;
  text-align: left;
}

.wide {
  th, td {
    padding: 0.25em 1em 0.25em 0;
    font-size: 0.6em;

    &:last-child {
      padding-right: 0;
    }
  }
}

// sortable tables
.sortable {
  th {
    cursor: pointer;
    white-space: nowrap;

    &:after {
      content: "\f0dc";
      display: inline-block;
      margin-left: 0.5em;
      color: $dark-text-color;
      font-family: FontAwesome;
    }

    &.sort-asc:after {
      color: $link-color;
      content: "\f0dd";
    }

    &.sort-desc:after {
      color: $link-color;
      content: "\f0de";
    }
  }
}
