@import "normalize";
@import "html5-boilerplate";
@import "compass/css3";

/*! Ataraxia */

// colors
$background-color: #12161c;
$dark-background-color: #02060c;
$darker-background-color: #010306;

$dark-border-color: #262626;
$light-border-color: #3a3a3a;

$text-color: #dadee4;
$light-text-color: #eaeef4;
$dark-text-color: #82868c;

$link-color: #4c86c2;
$light-link-color: #5ca6f2;
$dark-link-color: #3c6692;

$h1-color: $text-color;

// font sizes
$font-size: 20px;

// spacing
$large-gutter-width: 1.75em;
$medium-gutter-width: 1.5em;
$small-gutter-width: 0.75em;

$medium-gutter-width-full-px: $font-size * 1.5;

// fonts
$serif: serif;
$sans-serif: sans-serif;
$monospace: monospace;

// breakpoints; each is named for the layout it bounds from above
$small-breakpoint: 480px;
$medium-breakpoint: 920px;
$large-breakpoint: 1200px;

// the width of #nav-container in the full layout
$full-nav-width: 250px;

// any article may use the metadata "layout: wide" to trigger the optional wide
// layout for the article to fill up the width of the full layout; below this
// breakpoint (full-thin), there is not enough room for the nav and it is below
// the article; above this breakpoint (full-wide), there is enough room for the
// nav and it is to the right of the article
$full-thin-breakpoint: $large-breakpoint + $full-nav-width
  + $medium-gutter-width-full-px;

// media queries generated from the constants above
$small: "(max-width: " + $small-breakpoint + ")";
$medium: "(min-width: " + ($small-breakpoint + 1) + ")"
  + " and (max-width: " + $medium-breakpoint + ")";
$large: "(min-width: " + ($medium-breakpoint + 1) + ")"
  + " and (max-width: " + $large-breakpoint + ")";
$full: "(min-width: " + ($large-breakpoint + 1) + ")";

$full-thin: "(min-width: " + ($large-breakpoint + 1) + ")"
  + " and (max-width: " + $full-thin-breakpoint + ")";
$full-wide: "(min-width: " + ($full-thin-breakpoint + 1) + ")";

$small-medium: "(max-width: " + $medium-breakpoint + ")";
$small-medium-large: "(max-width: " + $large-breakpoint + ")";
$medium-large-full: "(min-width: " + ($small-breakpoint + 1) + ")";
$large-full: "(min-width: " + ($medium-breakpoint + 1) + ")";

////////////////////////////////////////////////////////////////////////// fonts

header, footer, nav, h1, h2, h3, h4, h5, h6, .wide table {
  font-family: $sans-serif;
}
article {
  font-family: $serif;
}
code, pre {
  font-family: $monospace;
}

////////////////////////////////////////////////////////////////////////// links

a {
  color: $link-color;
  text-decoration: none;
  @include transition(all 0.4s ease);
}

footer, nav, p {
  a:hover {
    background-color: $link-color;
    color: $text-color;
  }
}

///////////////////////////////////////////////////////////////////////// layout

* {
  @include box-sizing(border-box);
}

body {
  margin: 0 0 $small-gutter-width;
  background-color: $background-color;
  color: $text-color;
  font-family: $sans-serif;
  font-size: $font-size;

  // rotated background
  &:before {
    content: "";
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -1;
    background-image: url(../svg/square-rhombille.svg);
    background-repeat: repeat;
    @include transform-origin(50%, 50%);
    @include transform(rotate(8deg));
  }
}

#page-container {
  margin: 0 auto;
}

@media #{$small} {
  body {
    font-size: $font-size * 0.7;
  }

  #page-container {
    width: 100%;
  }

  #page-footer, #nav-container, #content > header, #content > footer {
    padding-left: $medium-gutter-width;
    padding-right: $medium-gutter-width;
  }

  .hide-small {
    display: none;
  }
}

@media #{$medium} {
  body {
    font-size: $font-size * 0.9;
  }

  #page-container {
    width: 95%;
  }

  .hide-medium {
    display: none;
  }
}

@media #{$large} {
  #page-container {
    width: $medium-breakpoint - $medium-gutter-width-full-px;
  }

  .hide-large {
    display: none;
  }
}

@media #{$small-medium-large} {
  #content, #page-footer, #nav-container {
    width: 100%;
  }
}

@media #{$full} {
  #page-container {
    width: $large-breakpoint - $medium-gutter-width-full-px;
  }

  #content, #page-footer {
    display: inline-block;
    margin-right: $medium-gutter-width;
    width: $large-breakpoint - $medium-gutter-width-full-px * 2
      - $full-nav-width;
    vertical-align: top;
  }

  #nav-container {
    display: inline-block;
    width: $full-nav-width;
    vertical-align: top;
  }

  // optional wide layout
  .wide {
    #nav-container, #content, #page-footer {
      width: $large-breakpoint - $medium-gutter-width-full-px;
    }
  }

  .hide-full {
    display: none;
  }
}

@media #{$full-wide} {
  .wide {
    // override the widths in $full above
    #page-container {
      width: $full-thin-breakpoint - $medium-gutter-width-full-px;
    }

    #content, #page-footer {
      width: $full-thin-breakpoint - $medium-gutter-width-full-px * 2
        - $full-nav-width;
    }

    #nav-container {
      width: $full-nav-width;
    }
  }
}

//////////////////////////////////////////////////////////// headers and footers

h1 {
  margin: 1em 0;
  text-transform: uppercase;
  line-height: 1;
  font-size: 1.4em;

  @media #{$small} {
    text-align: center;
  }

  a {
    color: $h1-color;
    @include transition(all 0.4s ease);

    &:hover {
      color: $light-text-color;

      .slanted {
        color: $light-text-color; // must be set to transition simultaneously
                                  // with the other h1 text
        @include transform(none);
      }
    }

    .slanted {
      display: inline-block;
      color: $h1-color; // must be set to transition simultaneously with the
                        // other h1 text
      @include transform-origin(100%, 0%);
      @include transform(rotate(-90deg) translateY(-100%));
      @include transition(all 0.4s ease);
    }
  }
}

#content > header {
  margin-bottom: $small-gutter-width;

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    text-transform: uppercase;
  }

  @media #{$small-medium} {
    h3 {
      float: left;
    }

    .pagination {
      float: right;
    }
  }

  @media #{$large-full} {
    h3, .pagination {
      display: inline-block;
      vertical-align: bottom;
    }

    h3 {
      width: 67%;
    }

    .pagination {
      width: 33%;
    }
  }
}

#content > footer {
  margin-bottom: $small-gutter-width;
}

.pagination {
  color: $text-color;
  text-align: right;
  font-size: 1em;
}

#page-footer {
  text-align: right;
  font-size: 0.7em;
}

/////////////////////////////////////////////////////////////////////////// navs

@mixin vertical-nav {
  border-top: 1px solid $dark-border-color;
  border-bottom: 1px solid #000;

  &:first-child {
    border-top: 0;

    h3 {
      margin-top: 0;
    }
  }

  &:last-child {
    border-bottom: 0;
  }
}

@mixin horizontal-nav($include-borders) {
  display: inline-block;
  border-top: 0; // override the vertical borders in the case of .wide
  border-bottom: 0;
  @if $include-borders {
    border-left: 1px solid $dark-border-color;
    border-right: 1px solid #000;
  }
  padding: 0 $medium-gutter-width;
  vertical-align: top;

  &:first-child {
    border-left: 0;
  }

  &:last-child {
    border-right: 0;
  }

  h3 {
    margin-top: 0;
  }
}

nav {
  font-size: 0.7em;

  h3 {
    margin-bottom: 0.5em;
  }

  ul {
    list-style-type: none;
    margin-left: 1em;
    padding: 0;

    li {
      margin-bottom: 0.5em;
      text-indent: -1em;
      line-height: 1.2;
    }
  }

  @media #{$small} {
    @include vertical-nav;
    font-size: 1em;
  }

  @media #{$medium} {
    @include horizontal-nav(false);
    width: 50%;
  }

  @media #{$large} {
    @include horizontal-nav(true);
    width: 33%;
  }

  @media #{$full} {
    @include vertical-nav;
  }
}

.wide nav {
  @media #{$full-thin} {
    @include horizontal-nav(true);
    width: 33%;
  }

  @media #{$full-wide} {
    @include vertical-nav;
    width: 100%;
  }
}

// highlight current page and/or category
.active {
  font-weight: bold;
}

/////////////////////////////////////////////////////////////////////// articles

article {
  margin: 0 0 $large-gutter-width;
  border-width: 1px;
  border-style: solid;
  border-color:
    $light-border-color
    $dark-border-color
    $dark-border-color
    $light-border-color;
  padding: 1em $medium-gutter-width;
  background-color: $dark-background-color;
  line-height: 1.6;
  @include transition(all 0.4s ease);

  &:hover {
    border-color:
      $dark-border-color
      $light-border-color
      $light-border-color
      $dark-border-color;
    background-color: $darker-background-color;
  }

  &:last-of-type {
    margin-bottom: $small-gutter-width;
  }

  h2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-shadow: $dark-text-color 1px 1px 2px;
    line-height: 1;
    font-size: 2.25em;

    a {
      text-shadow: $dark-link-color 1px 1px 2px;
      @include transition(all 0.4s ease);

      &:hover {
        color: $light-link-color;
        text-shadow: $link-color 1px 1px 2px;
      }
    }
  }

  h3 {
    margin-top: 1.25em;
    font-size: 1.4em;
  }

  p, li, dd, blockquote {
    text-align: justify;
  }

  footer {
    font-size: 0.8em;
  }
}

/////////////////////////////////////////////////////////////////////////// data

abbr[title] {
  border-bottom: 0;
}

address {
  display: inline;
  font-style: normal;
}

cite {
  color: $dark-text-color;
  font-size: 0.9em;
  font-style: normal;
}

footer {
  color: $dark-text-color;
}

////////////////////////////////////////////////////////////////////////// lists

.plain { // ul
  list-style-type: none;
}

.footnotes { // ul
  padding-left: 0;
  list-style-type: none;
  font-size: 0.9em;
}

.references { // ul
  padding-left: 0;
  list-style-type: none;

  li {
    margin-left: 2em;
    margin-bottom: 0.5em;
    text-indent: -2em;
  }
}

dt {
  margin-top: 1em;
}

dd {
  display: list-item;
  list-style-type: disc;
  font-size: 0.9em;
}

///////////////////////////////////////////////////////////////////////// tables

table {
  margin-top: 1em;
  margin-bottom: 1em;
  border-collapse: separate;
  border-spacing: 0;
}

tbody tr {
  td {
    border-top: 1px solid $light-border-color;
    border-bottom: 1px solid $dark-border-color;
  }

  &:hover {
    background-color: $background-color;
  }

  &:last-child td {
    border-bottom: 0;
  }
}

th {
  border-bottom: 1px solid $dark-text-color;
  text-align: left;
}

.wide {
  th, td {
    padding: 0.25em 1em 0.25em 0;
    font-size: 0.6em;

    &:last-child {
      padding-right: 0;
    }
  }
}

// sortable tables
.sortable {
  th {
    cursor: pointer;
    white-space: nowrap;

    &:after {
      content: "\f0dc";
      display: inline-block;
      margin-left: 0.5em;
      color: $dark-text-color;
      font-family: FontAwesome;
    }

    &.sort-asc:after {
      color: $light-link-color;
      content: "\f0dd";
    }

    &.sort-desc:after {
      color: $light-link-color;
      content: "\f0de";
    }
  }
}
