{% extends "base.html" %}

{% block head %}
  {{ super() }}

  {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" contents="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
  {% endfor %}

  {% if article.css %}
    {% for css in article.css.split(',') %}
      <link rel="stylesheet" href="{{css}}">
    {% endfor %}
  {% endif %}
{% endblock %}

{% block title -%}
  {{ SITENAME }} - {{ article.title | striptags }}
{%- endblock %}

{% if article.body_class %}
  {% block body_tag %}
    <body class="{{ article.body_class }}">
  {% endblock %}
{% endif %}

{% block content %}
  {% include 'includes/article.html' %}
{% endblock %}
